[submodule "Brioche/vendor/spdlog"]
	path = Brioche/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Brioche/vendor/GLFW"]
	path = Brioche/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Brioche/vendor/imgui"]
	path = Brioche/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Brioche/vendor/glm"]
	path = Brioche/vendor/glm
	url = https://github.com/g-truc/glm
